.button, .button_a, .button_i, .button_d, .button1, .button1_d {
	color: #20548b;
	line-height: 19px;
	padding: 2px 4px;
	white-space: nowrap; text-overflow: ellipsis; overflow : hidden;
	margin-right: 2px;
	margin-top:-2px;
	margin-left:4px;
}
.button1, .button1_d {
	padding-left:4px;
	background: #d8e4f6;
}
.button_d, .button1_d {
	color: #9aa6b8;
	background: #e7edf6;
	border: 1px solid #ccc;
	border-left:  1px solid #fff;
	border-top:  1px solid #fff;	
}
.button, .button1 {
	color: #20548b;
	border-radius: 3px;
	border: 1px solid #acb8c4;
	cursor:pointer;	
	background: #d8e4f6;
}

.button_a {
	color: #00448b;
	background: #94bbf6;
	border: 1px solid #4d6180;
	border-radius: 3px;
	cursor:pointer;
	}
.button_i {
	color: #accdff;
	background: #2f66b8;
	border: 1px solid #7fa9e6;
	border-radius: 3px;
	}
.button_d {
	border-radius: 3px;
	}
