.fix {
    white-space: nowrap; text-overflow : ellipsis; overflow : hidden;
}

.mandatory {
    background-color: #f8f0e0;
}

div.wait-curtain {
    position: fixed;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index: 11;
    opacity: 0.8;
    background-color: #666;

    h1 {
        margin: auto;
        z-index: 12;
        opacity: 1;
        color: #fff;
        background: #111;
        text-align: center;

    }
}

.cickable {
    cursor: pointer;
}

div.message {
    font-size:1em;
    background-color:#aaa;
    color: #000;
    padding: 4px 4px 4px 8px;
    border-bottom:1px solid #999;
    &.error {
        background-color:#daa;
        color:#800;
        border-bottom:1px solid #c99;
    }
    &.warning {
        background-color:#dca;
        color:#640;
        border-bottom:1px solid #cb9;
    }
    &.ok {
        background-color:#aca;
        color:#060;
        border-bottom:1px solid #9b9;
    }
    &.instruction {
        background-color:#a0c4cc;
        color:#406;
        border-bottom:1px solid #9ab;
    }
    &.error i.fa { color: #A33;}
    &.warning i.fa { color: #863;}
    &.ok i.fa { color: #393;}
    &.info i.fa { color: #333;}
    &.instruction i.fa { color: #439;}

    i.fa { margin-right:6px; }
}

span.close {
    display: inline-block;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    width: 16px;
    height: 16px;
    text-align: center;
    background-color: #369;
    color: #fff;
    cursor: pointer;
    padding: 2px 2px 1px;
    top: 5px;
    right: 5px;
}

table.xdebug-error {
    color: black;
}

.region-message .content-block div {
    display: block;
}

/* backtrace styles */
div.msg-content {margin-left: 4px; }
span.trace-source { font-weight: bold; color: #00009a; }
span.trace-uxapp { font-weight: bold; color: darkred; }
span.trace-uxapp-mod { font-weight: bold; color: rebeccapurple; }
span.trace-vendor { font-weight: bold; color: #886609; }
span.trace-vendor-mod { font-weight: bold; color: #d63700; }
span.trace-app { font-weight: bold; color: darkgreen; }
span.trace-inc { font-weight: bold; color: forestgreen; }
div.trace { font-family: monospace; font-size: .8rem; }

.hidden {
    display:none !important;
}

.hidden {
    display: none;
}
